*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #080912;
}

.box
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 50px;
}

.box::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#c40645);
    animation: animate 4s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#d49b00);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

@keyframes animate
{
   0%
   {
    transform: rotate(0deg);
   } 
   100%
   {
    transform: rotate(360deg);
   }
}

.box span 
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #080912;
    z-index: 1;
}
.box h2 {
    z-index: 2;
    font-size: 2em;
    color: white;
    opacity: 70%;
   
}